body {
  margin: 0px;
  background-color: #ffe9e9;
  font-family: 'Mulish', sans-serif;
}

.header {
  height: 104px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
}

.logo a, .icon{
  width: 205px;
  height: 100%;
  display: flex;
  align-items: center;

}

.logo img {
  width: 105px;
  margin: 0px auto;
}

.navbar-and-icon {
  display: flex;
  align-items: center;
}

.navbar {
  width: 585px;
}

.navbar ul {

  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px 45px;
}

.navbar ul li {
  font-family: 'Bebas Neue';
  letter-spacing: 1.5px;
  font-size: 16px;
  cursor: pointer;
}

.icon {
  height: 104px;
  width: 118px;
  text-align: center;
  border-left: 1px solid #ebebeb;
}

.icon svg{
  margin: 0px auto;
  cursor: pointer;
}

/* Common classes */
.bebas-main {
  font-family: 'Bebas Neue';
  font-size: 25px;
  letter-spacing: 1.5px;
}

.bebas-2 {
  font-family: 'Bebas Neue';
  font-size: 20px;
  letter-spacing: 1.3px;
}

.mulish-1 {
  font-family: 'Mulish';
  font-size: 15px;
  font-weight: 300;
}

.mulish-2 {
  font-family: 'Mulish';
  font-size: 14px;
  font-weight: 400;
}

.section-headers {
  font-family: 'Mulish';
  font-size: 38px;
  font-weight: 300;
}
/* End of common classes */

.first-screen {
  height: 643px;
  position: relative;
}

.corner-buttons {
  display: inline-block;
  width: 121px;
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.corner-buttons button {
  border-style: none;
  background-color: white;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;

}

.corner-buttons button:hover {
  background-color: #050505;
  color: white;
}

.sm-sidebar {
  width: 20px;
  position: fixed;
  bottom: 50%;
  left: 0px;
  margin-left: 40px;
  transform: translate(0px,50%);
  z-index: 5;
}

.sm-sidebar a:visited {
  color: #050505;
}

.sm-sidebar i {
  padding: 14px 10px;
}

.gridy-part {
  background-position: center;
  height: 100%;
  background-color: #fad9e2;
  background-image: linear-gradient(90deg, #e6aeae .1em, transparent .1em);
  background-size: 13em 3em;
  border-top: 1px solid #e6aeae;
}

.about {
  width: 1000px;
  text-align: center;
  margin: 250px auto;
}

.about h6 {
  color: #000000;
  font-size: 12px;
  font-weight: 300;
  margin: 20px 0px;
  letter-spacing: 0.2em;
}

.about span {
  font-size: 38px;
  font-weight: 300;
  line-height: 50px;
  color: #000000;
  letter-spacing: 0px;
}

.about span a {
  text-decoration: line-through;
}

.services-item {
  width: 208px;
  position: relative;
}

.services-item h3 {
  margin: 0px;
  margin-top: 16px;
}

.services-item p {
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  margin-top: 5px;
}

/* Tabs */
.cap-and-tabs {
  margin: 250px auto;
}


.tables {
  position: relative;
}

.table-row {
  width: 1040px;
  margin: 0px auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.work-row {
  width: 1064px;
}

.works-item {
  width: fit-content;
  position: relative;
}

.table-abstract {
  transform: rotate(-90deg);
  position: absolute;
  top: 75px;
  left: -55px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: cover;


}

.square {
  width: 208px;
  height: 208px;
}

.work-square {
  padding: 12px;
  border: 1px solid black;
}

.services-item button {
  cursor: pointer;
  border-style: none;
  background-color: white;
  padding: 20px 25px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}

.works-item h4 {
  margin: 0px;
  margin-top: 16px;
}

.works-item h3 {
  text-align: right;
  margin: 0px 12px 2px 12px;

}

.captions {
  display: flex;
  align-items: baseline;
  margin-bottom: 50px;
  margin-left: 105px;
}

.captions i {
  font-size: 110px;
  margin-right: 30px;

}

.captions span {
  font-family: 'Bebas Neue';
  font-size: 220px;
  letter-spacing: -5px;
  margin-right: 20px;
}

.team-item {
  width: 208px;
  position: relative;
}

.team-item h3 {
  margin: 0px;
  margin-top: 16px;
}

.team-item p {
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  margin: 0px;
  margin-top: 5px;
}

.team-sidebar {
  width: 20px;
  position: absolute;
  top: -2px;
  left: -34px;
}

.team-sidebar a {
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}

.team-sidebar a:visited {
  color: #050505;
}

.team-sidebar a:hover {
  color: red;
}

.team-sidebar i {
  font-size: 13px;
  padding: 10px;
}

#section-5 {
  margin: 0px;
  padding-bottom: 210px;
}

.careers {
  margin-left: 200px;
}

.name-button {
  width: 500px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.career-button {
  font-family: 'Mulish';
  border-style: none;
  background-color: white;
  width: 30px;
  height: 30px;
  padding: 0px;
}

.professions {
  margin-top: 20px;
}

.professions ul {
  padding-inline-start: 30px;
  margin: 0px;
}

.professions li {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  margin:0px;
  margin-top: 15px;
}

.info {
  text-align: center;
}

.info-inside {
  display: inline-flex;
  width: 1000px;
  justify-content: space-between;
}

.h-t h1 {
  font-family: 'Bebas Neue';
  font-size: 90px;
  color: #050505;
  margin: 0px;

}

.h-t h6 {
  margin: 0px;
}

.back-to-top {
  transform: rotate(-90deg);
  position: fixed;
  bottom: 110px;
  right: -25px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  z-index: 5;
}

.back-to-top a {
  text-decoration: none;
}

.back-to-top a:visited {
  color: #050505;
}

.back-to-top a:link {
  color: #050505;
}

/* Footer part */
.footer {
  height: 356px;
  padding: 70px 0px;
  border-top: 1px solid #e6aeae;
  border-bottom: 1px solid #e6aeae;
  display: flex;
  align-items: center;
}

.footer-inside {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-section {
  width: 27%;
}

.contact2-section {
  width: 27%;
  border-left: 1px solid #e6aeae;
}

.contact1-section, .visit-section {
  width: 23%;
  border-left: 1px solid #e6aeae;
}

.logo-section, .contact1-section,  .contact2-section, .visit-section {
  display: flex;
  align-items: center;
}

.section-inside {
  display: inline-block;
  margin: 20px 0px;
  width: 215px;
}

.section-items ul {
  text-align: right;
  margin: 0px;
}

.section-items ul li {
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  list-style: none;
  padding: 5px 0px;
}

.logo-section, .logo-and-motto span {
  text-align: center;
}

.logo-and-motto {
  margin: 0px auto;
  width: 200px;
  display: inline-block;
}

.logo-and-motto img {
  width: 190px;
  margin-bottom: 30px;
}

.section-and-icon {
  position: relative;
}

.section-and-icon i {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: -45px;
  padding: 13px;
}

.section-and-icon h4 {
  margin: 0px;
  padding: 16px 13px;
  border-right: 1.5px solid black;
  text-align: right;
}

.copyright-section {
  text-align: center;
  height: 58px;
  margin: 0px 70px;
  padding: 21px 0px;
}

.copyright-section span {
  color: #e6aeae;
}
