<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div>
        <h1>Fill out the form</h1>
        <form action="/" method="POST">
            <label for="fname">Name</label>
            <input type="text" id="fname" name="ad" placeholder="Your name..">

            <label for="sname">Surname</label>
            <input type="text" id="sname" name="soyad" placeholder="Your surname..">

            <label for="city">Country</label>
            <select id="city" name="sheher">
                <option value="Baku">Baku</option>
                <option value="Ganja">Ganja</option>
                <option value="Sumgayit">Sumgayit</option>
                <option value="Lankaran">Lankaran</option>
                <option value="Mingachevir">Mingachevir</option>
                <option value="Naxchivan">Naxichevan</option>
                <option value="Shirvan">Shirvan</option>
                <option value="Shaki">Shaki</option>
                <option value="Yevlax">Yevlax</option>
            </select>
        
            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>