{% extends "admin/layout.html" %}
{% block content %}
<h3>Update profession</h3>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
  <div class="form-group">
    <label for="name">Update name</label>
    {% if form.name.errors %}
      {{ form.name(class="form-control form-control-lg is-invalid", placeholder="Enter the name", value=profession.name)}}
      <div class="invalid-feedback">
        {% for error in form.name.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
      {{ form.name(class="form-control form-control-lg", placeholder="Enter the name", value=profession.name)}}
    {% endif %}
  </div>
  <div class="form-group">
    <label for="description">Update description</label>
    {% if form.description.errors %}
    {{ form.description(class="form-control form-control-lg", placeholder="Enter the description", value=profession.description) }}
      <div class="invalid-feedback">
        {% for error in form.description.errors %}
            <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
    {{ form.description(class="form-control form-control-lg", placeholder="Enter the description", value=profession.description) }}
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.img.label() }}
    {{ form.img(class="form-control-file") }}
    {% if form.img.errors %}
        {% for error in form.img.errors %}
            <span class="text-danger">{{ error }}</span><br>
        {% endfor %}
    {% endif %}
  </div>
    <button type="submit" class="btn btn-primary mb-2">Update</button>
</form>
{% endblock %}