body {
  margin: 0px;
  background-color: #ffe9e9;
  font-family: 'Mulish', sans-serif;
}

.header {
  font-family: 'Bebas Neue', cursive;
  height: 104px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
}

.logo, .icon{
  width: 205px;
  height: 100%;
  display: flex;
  align-items: center;

}

.logo img {
  width: 105px;
  margin: 0px auto;
}

.navbar-and-icon {
  display: flex;
  align-items: center;
}

.navbar {
  display: inline-block;
  width: 560px;
}

.navbar ul {

  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px 45px;
}

.navbar ul li {
  font-size: 18px;
}

.icon {
  height: 104px;
  width: 118px;
  text-align: center;
  border-left: 1px solid #ebebeb;
}

.icon svg{
  margin: 0px auto;
}

.first-screen {
  height: 643px;
  position: relative;
}

.corner-buttons {
  display: inline-block;
  width: 121px;
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.corner-buttons button {
  border-style: none;
  background-color: white;
  padding: 20px 25px;
}

.sm-sidebar {
  width: 20px;
  position: fixed;
  bottom: 50%;
  left: 0px;
  margin-left: 40px;
  transform: translate(0px,50%)
}

.sm-sidebar i {
  padding: 14px 10px;
}

.gridy-part {
  background-position: center;
  height: 100%;
  background-color: #ffe9e9;
  background-image: linear-gradient(90deg, #e6aeae .1em, transparent .1em);
  background-size: 13em 3em;
  border-top: 1px solid #e6aeae;
}

.about {
  width: 1000px;
  text-align: center;
  padding: 250px 0px;
  margin: 0px auto;
}

.about h6 {
  color: #000000;
  font-size: 12px;
  font-weight: 300;
  margin: 20px 0px;
  letter-spacing: 0.2em;
}

.about span {
  font-size: 38px;
  font-weight: 300;
  line-height: 50px;
  color: #000000;
  letter-spacing: 0px;
}

.careers {
  padding-left: 200px;
}

.name-button {
  width: 500px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.profession-name {
  font-family: 'Bebas Neue';
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.career-button {
  font-family: 'Mulish';
  border-style: none;
  background-color: white;
  width: 30px;
  height: 30px;
  padding: 0px;
}

.professions ul {
  padding-inline-start: 30px;
}

.professions li {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  margin: 15px 0px;
}

.info {
  text-align: center;
}

.info-inside {
  display: inline-flex;
  width: 1000px;
  justify-content: space-between;
}

.h-t h1 {
  font-family: 'Bebas Neue';
  font-size: 90px;
  color: #050505;
  margin: 0px;

}

.h-t h6 {
  font-size: 15px;
  font-weight: 300;
  margin: 0px 0px 100px 0px;
}

.back-to-top {
  transform: rotate(-90deg);
  position: fixed;
  bottom: 100px;
  right: -15px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}
