{% extends "app/layout.html" %}

{% block links %}
<link rel="stylesheet" href="static/app/css/about.css">
{% endblock %}

{% block title %}
<title>About Page</title>
{% endblock %}

{% block content %}
<div class="content">
  <div class="photo-part">
    <div class="photo">
      <img src="static/app/uploads/{{ about_page.image }}" alt="">
    </div>
  </div>
  <div class="designer-info">
    <div class="designer-info-inside">
      <h1>{{ about_page.title }}</h1>
      <p>{{ about_page.content }}</p>
          <div class="sm-icons">
            {% for about_social_media in about_social_medias %}
              <a href="{{ about_social_media.link }}" target="_blank"><i class="{{ about_social_media.icon_url }}"></i></a>
            {% endfor %}</div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
<script src="static/app/javascript/about.js"></script>
{% endblock %}