{% extends "app/layout.html" %}

{% block links %}
<link rel="stylesheet" href="static/app/css/contact.css">
{% endblock %}

{% block title %}
<title>Contact Page</title>
{% endblock %}

{% block content %}
<section class="contact-inside">
  <div class="text-and-img">
    {% if contact_page.title1 != "" or contact_page.title2 %}
    <div class="text">
      {% if contact_page.title1 != "" %}
      <h3>{{ contact_page.title1 }}</h3>
      {% endif %}
      {% if contact_page.title2 != "" %}
      <h1>{{ contact_page.title2 }}</h1>
      {% endif %}
    </div>
    {% endif %}
    {% if contact_page.image != "" %}
    <div class="contact-img">
      <img src="static/app/uploads/{{ contact_page.image }}" alt="">
    </div>
    {% endif %}
  </div>
  <div class="all-contact">
    <div class="mail-and-cntct">
      <form class="mail" method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="inputs">
          <div class="input-item">
          {% if form.name.errors %}
          {{ form.name(class="is-invalid", placeholder="Name")}}
          <div class="invalid-feedback">
            {% for error in form.name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.name(placeholder="Name") }}
        {% endif %}
            <!-- <input type="text" placeholder="Name" name="user_name"> -->
          </div>
          <div class="input-item">
            {% if form.email.errors %}
          {{ form.email(class="is-invalid", placeholder="Email")}}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
          {{ form.email(placeholder="Email")}}
        {% endif %}
            <!-- <input type="text" placeholder="Email" name="user_email"> -->
          </div>
          <div class="input-item">
            {% if form.message.errors %}
          {{ form.message(class="is-invalid", placeholder="Message")}}
          <div class="invalid-feedback">
            {% for error in form.message.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
          {{ form.message(placeholder="Message")}}
        {% endif %}
            <!-- <input type="text" placeholder="Your Message" name="user_message"> -->
          </div>
        </div>
        <button type="submit" class="main-button">SEND MAIL</button>
      </form>
      <div class="cntct">
        {% for contact in contacts_for_page %}
        <div class="cntct-inside">
          <p class="h">{{ contact.name }}</p>
          <p class="in">{{ contact.value }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script src="static/app/javascript/contact.js"></script>
{% endblock %}