{%extends "app/layout.html" %}

{% block links %}
<link rel="stylesheet" href="static/app/css/portfolio.css">
<link rel="stylesheet" href="static/app/css/design-project.css">
{% endblock %}

{% block title %}
<title>Project Page</title>
{% endblock %}

{% block content %}
<div class="back-to-top">
  back to top +
</div>
{% if Project.query.get(project.id + 1) %}
<a style="display: block;" href='/project{{project.id+1}}' class="next-previous next-project">
  NEXT PROJECT
</a>
{% else %}
<a style="display: none;" href='/project{{project.id+1}}' class="next-previous next-project">
  NEXT PROJECT
</a>
{% endif %}

{% if Project.query.get(project.id - 1) %}
<a style="display: block;" href='/project{{project.id-1}}' class="next-previous previous-project">
  PREVIOUS PROJECT
</a>
{% else %}
<a style="display: none;" href='/project{{project.id-1}}' class="next-previous previous-project">
  PREVIOUS PROJECT
</a>
{% endif %}


<section class="project-page-inside">
  <div class="left-line"></div>
  <div class="right-line"></div>
  <div class="main-project">
    <div class="main-project-inside">
      <div class="loc-bar">
        <h6>Home / Design /<span> Exhibition Identity</span></h6>
      </div>
      <div class="imgs">
        {% for i in range(project.images|length) %}
        <div class="img">
          <img src="static/app/uploads/{{ project.images[i].image }}" alt="" onclick="showImg({{ i }})">
        </div>
        {% endfor %}
      <div class="project-info">
        <div class="text-info">
          <h3>{{ project.name }}</h3>
          <p>{{ project.content }}</p>
        </div>
        <div class="tags-info">
          {% if project.profession_id != "None" %}
          <h6>Category: <span>{{ Profession.query.get(project.profession_id).name }}</span></h6>
          {% endif %}
          <h6>Date: <span>{{project.date.day}}/{{project.date.month}}/{{project.date.year}}</span></h6>
          <!-- <h6>Tags: <span> Art Illustration</span></h6> -->
          <div class="sm-icons">
            {% for project_social_media in project_social_medias %}
              <a href="{{ project_social_media.link }}" target="_blank"><i class="{{ project_social_media.icon_url }}"></i></a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  {% if project.profession_id != "None" and Project.query.filter_by(profession_id = project.profession_id).count() >= 2  %}
  <div class="related-projects">
    <div class="related-projects-inside">
      <h5>Related Projects</h5>
      <div class="related-projects-items">
        {% for related_project in Project.query.filter_by(profession_id = project.profession_id).limit(4) %}
        {% if related_project != project %}
        <a href="/project{{ related_project.id }}">
          <div class="related-projects-item port-item">
            <img src="static/app/uploads/{{ related_project.cover_image}}" alt="">
            <div class="overlay">
              <div class="text">
                <h1>{{ Profession.query.get(project.profession_id).name }}</h1>
                <h2>{{ related_project.name }}</h2>
              </div>
            </div>
          </div>
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="portfolio-icon">
        <a href="{{ url_for('app_portfolio') }}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="17px" viewBox="0 0 17 17" style="enable-background:new 0 0 17 17;" xml:space="preserve"><style type="text/css">.st0{fill:#231F20;}</style><g><rect x="9" class="st0" width="8" height="8"></rect><rect class="st0" width="8" height="8"></rect><rect x="9" y="9" class="st0" width="8" height="8"></rect><rect y="9" class="st0" width="8" height="8"></rect></g></svg></a>
      </div>
    </div>
  </div>
  {% endif %}
</section>

<div class="background" onclick="hideBackground(event)">
  {% for i in range(project.images|length) %}
  <div class="slider">
    <div class="expand-icon" onclick="expand()">
      <i class="fas fa-expand"></i>
    </div>
    <div class="slide" onmouseover="showBtns()" onmouseout="hideBtns()">
      <img src="static/app/uploads/{{ project.images[i].image }}" alt="">
      <div class="arrows">
        <button id="leftBtn" onclick="changeBefore()">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button id="rightBtn" onclick="changeNext()">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="slide-bottom">

      <p id="page-info"><span> {{i + 1}} </span> / <span> {{project.images|length}} </span></p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="static/app/javascript/app.js"></script>
{% endblock %}
