{% extends "app/layout.html" %}
{% block title %} <title>Home Page</title> {% endblock %}
{% block content %}
      <!-- Header end -->
      <!-- First Screen start -->
      <section class="first-screen">
        {% for slide in slides %}
        <img src="static/app/uploads/{{ slide.image }}" alt="slider image">
        {% endfor %}
        <div class="corner-buttons">
          <button class="left" onclick="changePrev()">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="right" onclick="changeNext()">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </section>
      <!-- First Screen end -->
    </section>
    <div class="sm-sidebar">
      {% for footer_social_media in footer_social_medias %}
      <a href="{{ footer_social_media.link }}" target="_blank"><i class="{{ footer_social_media.icon_url }}"></i></a>
      {% endfor %}
      </div>

    <section class="rest-of-page">
      <div class="back-to-top">
        back to top +
      </div>
      <div class="about">
        <h6>{{ about.title }}</h6>
        <span>{{ about.content }}</span>
      </div>

      <section id="services" class="cap-and-tabs">
        <div class="tables">
          <div class="captions">
            <h1 class="section-headers">Services</h1>
          </div>
          <div class="table-row">
            {% for profession in professions %}
              <div class="table-item">
                <div class="square">
                  <img src="static/app/uploads/{{ profession.image }}" alt="Service image" onmouseover="getColoredItself(this)" onmouseout="getBlackWhiteItself(this)">
                </div>
                <h3 class="bebas-main">{{ profession.name }}</h3>
                <p class="mulish-1">{{ profession.description }}</p>
                <div class="service-button" onmouseover="getColored(this)" onmouseout="getBlackWhite(this)">
                  <a href="{{ url_for('app_portfolio') }}">
                    <button class="main-button">Show Projects</button>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <section id="works" class="cap-and-tabs">
        <div class="tables">
          <div class="captions">
            <h1 class="section-headers">Work</h1>
          </div>
          <div class="work-row">
            {% for i in range(projects.count()) %}
              <div  class="works-item">
                <h3 class="bebas-main">{{ i+1 }}.</h3>
                <div class="work-square">
                  <a href="{{ url_for('app_project', id = projects[i].id ) }}">
                    <img src="static/app/uploads/{{ projects[i].cover_image }}" alt="">
                  </a>
                  <span class="table-abstract">{{ Profession.query.get(projects[i].profession_id).name }}</span>
                </div>
                <h4 class="bebas-2">{{ projects[i].name }}</h4>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <div id="info">
        {% for info in infoList %}
        <div class="h-t">
          <h1 class="animated-value" data-count="{{ info.value }}">0</h1>
          <h6 class="mulish-1">{{ info.name }}</h6>
        </div>
        {% endfor %}
      </div>

      <section id="team" class="cap-and-tabs">
        <div class="tables">
          <div class="captions">
            <h1 class="section-headers">Team</h1>
          </div>
          <div class="table-row">
            {% for employer in employers %}
            <div class="table-item">
              <div class="square">
                <img src="static/app/uploads/{{ employer.photo }}" alt="">
                <div class="team-sidebar">
                  <a href="https://www.behance.net/resulzade9ca45" target="_blank"><i class="fab fa-behance"></i></a>
                  <a href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                  <a href="https://www.instagram.com/kenan_resulzadeh/" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
              <h3 class="bebas-main">{{ employer.fullname }}</h3>
              <p class="mulish-2">{{ employer.profession }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>


      <section id="section-5" class="cap-and-tabs">
        <div class="tables">
          <div class="captions">
            <h1 class="section-headers">Career</h1>
          </div>
          <div class="careers">
            {% for profession in professions %}
            <div class="professions">
              <div class="name-button" onclick="controlList(this)">
                <h2 class="bebas-main">{{ profession.name }}</h2>
                {%if professions.length != 1%}
                <button class="career-button">+</button>
                {% endif %}
              </div>
              <ul class="career-list">
                {% for skill in profession.skills %}
                <li class="mulish-1">{{ skill.name }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </section>
{% endblock %}

{% block scripts %} <script src="static/app/javascript/home.js"></script> {% endblock %}