{% extends "app/layout.html" %}
{% block links %}
  <link rel="stylesheet" href="static/app/css/portfolio.css">
  <link rel="stylesheet" href="static/app/css/design-project.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
{% endblock %}
{% block title %} <title>Portfolio Page</title> {% endblock %}

{% block content %}
<div style="right: -17px;" class="back-to-top">
  back to top +
</div>
<section class="port-inside">
  <div class="categories">
    <ul>
      <li><a href="{{ url_for('app_portfolio') }}" onclick="underline(this)" >Show all</a></li>
      {% for profession in professions %}
      <li><a href="{{ url_for('portfoliofilter', id = profession.id) }}" onclick="underline(this)">{{ profession.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="port-items">
    {% for project in projects %}
      <a href="/project{{ project.id }}">
        <div class="port-item">
          <img src="static/app/uploads/{{ project.cover_image }}" alt="">
          <div class="overlay">
            <div class="text">
              <h1>{{ Profession.query.get(project.profession_id).name }}</h1>
              <h2>{{ project.name }}</h2>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
</section>
<div class="port-button">
  <button onclick="loadMore()" class="main-button">Read More +</button>
</div>

{% endblock %}

{% block scripts %}
  <script src="static/app/javascript/portfolio.js"></script>
{% endblock %}