body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-size:13px;
}

.up-header {
  background-color: #333;
  color: white;
  padding: 15px 0px;
}

.inside-upper-header {
  width: 1350px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-info {
  display: flex;
  justify-content: space-between;
}

.adress {
  margin-right: 20px;
}

.contact-info i {
  color: red;
}

.contact-info span {
  margin: 0px 5px;
}

.social-media-icons i {
  margin-left: 5px;
}

.down-header {
  padding: 20px 0px;
}

.logo img {
  width: 190px;
}

.search {
  font-size: 19px;
  color: #c7c7c7;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.navbar ul li {
  list-style: none;
  padding: 15px;
}

.slider {
  height: 600px;
  position: relative;
}

.slider-buttons {

  width: 100%;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(0px,-50%);
}

.slider-item {
  height: 100%;
  width: 100%;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  position:absolute;
  top:0px;
  left:0px;
  z-index:1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.slider-buttons button {
  border-style: none;
  background-color: white;
  padding: 20px 25px;
  margin: 50px;
}

.slider-content {
  width: 1170px;
  margin: 0 auto;
  text-align: right;
}

.slider-content button{
    margin-top:45px;
    background:#00bcd4;
    border:none;
    outline:none;
    padding:10px 20px;
    color:white;
}

.slider-content h3{
    color:white;
}

.slider-content h1{
    color:white;
    font-size:4.5em;
    font-weight: 600;
    line-height: 70px;
    margin: 0px;
    padding: 60px 0px;
}
