{% extends "layout.html" %}
{% block content %}
    <div class="card-deck">
        {% for product in products %}
            <div style="width: 27%; margin: 3%; border: 1px solid rgba(0,0,0,.125); border-radius: calc(.25rem - 1px);">
                <img src="static/uploads/{{product.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.short_desc }}</p>
                    <h6 style="margin-bottom: 7%;">${{ product.price }}</h6>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}