{% extends "layout.html" %}
{% block content %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Price</th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <th scope="row">{{book.id}}</th>
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.price}}</td>
                    <td>
                        <a href="/delete/{{book.id}}">Delete</a>
                        <a href="/update/{{book.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    <table>
{% endblock %}