{% extends "admin/layout.html" %}
{% block content %}
<form method="POST">
    <div class="form-group">
        <label for="profession">Profession</label>
        <select class="form-control" id="profession" name="profession">
          {% for profession in professions %}
            {% if profession == selected_profession %}
              <option value="{{ profession.id }}"selected>{{ selected_profession.name }}</option>
            {% else %}
              <option value="{{ profession.id }}">{{ profession.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    <div class="form-group">
      <label for="skill">Update Skill</label>
      {% if form.skill.errors %}
        {{ form.skill(class="form-control form-control-lg is-invalid", placeholder="Enter the skill")}}
        <div class="invalid-feedback">
          {% for error in form.skill.errors %}
              <span>{{ error }}</span>
          {% endfor %}
      </div>
      {% else %}
        {{ form.skill(class="form-control form-control-lg", placeholder="Enter the skill", value=skill.name)}}
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary mb-2">Update</button>
</form>
{% endblock %}