.project-page-inside {
  position: relative;
}

.left-line {
  width: 1px;
  height: 100%;
  background-color: #ebebeb;
  position: absolute;
  left: 118px;
}

.right-line {
  width: 1px;
  height: 100%;
  background-color: #ebebeb;
  position: absolute;
  right: 118px;
}

.back-to-top {
  right:3px;
  display: none;
}

.next-previous  {
  color: black;
  text-decoration-line: none;
  font-family: "Mulish";
  bottom: 45%;
  transform: rotate(-90deg);
  position: fixed;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  z-index: 5;
  opacity: 1;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}


.next-previous {
  color: black;
  text-decoration: none;
}

.next-previous::after {  
  transform: scaleY(0);
  transform-origin: bottom right;
}

.next-previous:hover::after {
  transform: scaleY(1);
  transform-origin: bottom left;
}

.next-previous::after {
  content: " ";
  display: block;
  background: white;
  height: 1px;
  transition: transform .3s ease;
}


.previous-project {
  left: -12px;
}

.next-project {
  right: 6px;
}

.main-project {
  border-bottom: 1px solid #ebebeb;
}

.main-project-inside {
  width: fit-content;
  margin: 0px auto;
}

.related-projects-inside {
  width: 1100px;
  margin: 0px auto;
}

.related-projects-inside {
  margin-top: 10%;
}

.loc-bar h6 {
  font-size: 15px;
  font-weight: 200;
  margin: 0px;
}

.loc-bar h6 span, .tags-info h6 span{
  color: #b1b1b1;
}

.loc-bar {
  padding: 20px 0px;
}

.imgs {
  margin: 5% 0px;
}

.img {
  width: 1100px;
  height: 635px;
  margin: 30px auto;
  overflow: hidden;
}

.img img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}

.img:hover img {
  transform: scale(1.03);
}

.project-info {
  display: flex;
  align-items: center;
  margin: 0px;
  margin-bottom: 10%;
}

.text-info {
  width: 65%;
  margin-right: 40px;
}

.text-info h3 {
  font-family: "Bebas Neue";
  font-size: 50px;
  margin: 0px;
}

.text-info p {
  color: #b1b1b1;
  max-width: 720px;
}

.tags-info h6 {
  font-size: 15px;
  font-weight: 300;
  margin: 15px 0px;
}

.sm-icons a {
  color: gray;
  margin-right: 25px;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}

.sm-icons a:hover {
  color: black;
}

.related-projects-inside h5 {
  font-family: "Bebas Neue";
  font-size: 30px;
  letter-spacing: 1.5px;
  margin: 25px 0px;
}

.related-projects-items {
  width: 107%;
  display: flex;
  flex-wrap: wrap;
}

.related-projects-items a {
  margin-right: 3%;
}

.related-projects-item {
  width: 250px;
  height: 250px;
  margin: 0px;
}

.portfolio-icon {
  padding: 90px 0px;
  display: flex;
  justify-content: center;
  border: none;
}

.background {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 0;
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
}

.expand-icon {
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -20px;
  color: white;
  font-size: 20px;
}

.slider {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 950px;
  height: 602px;
  opacity: 1;
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
}

.slide {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 542px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrows {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 950px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}

#leftBtn, #rightBtn {
  font-size: 30px;
  font-weight: 100;
  background: none;
  border: none;
  padding: 0px 20px;
  cursor: pointer;
}

.slide-bottom {
  font-size: 15px;
  background-color: white;
  display: grid;
  height: 60px;
  color: gray;
  font-weight: 100;
  text-align: center;
  align-items: center;
}

.slide-bottom p {
  margin: 0px;
}

@media screen and (max-width: 1360px) {
  .img {
    width: 950px;
    height: 548px;
  }

  .related-projects-inside, .project-info {
    width: 950px;
  }

  .related-projects-item {
    width: 215px;
    height: 215px;
  }
}

@media screen and (max-width: 1200px) {
  .img {
    width: 768px;
    height: 443px;
  }

  .related-projects-inside, .project-info {
    width: 768px;
  }

  .related-projects-item {
    width: 170px;
    height: 170px;
  }
}

@media screen and (max-width: 1024px) {
  .slider {
    width: 90%;
  }
  .right-line, .left-line {
    display: none;
  }

  .project-info {
    display: block;
  }

  .text-info {
    width: 100%;
    margin-bottom: 5%;
  }

  .related-projects-item {
    width: 370px;
    height: 370px;
    margin-bottom: 30px;
  }

  .portfolio-icon {
    padding: 60px 0px 90px 0px;
}
}

@media screen and (max-width: 800px) {
  .img {
    width: 600px;
    height: 346px;
  }

  .related-projects-inside, .project-info {
    width: 600px;
  }

  .related-projects-item {
    width: 285px;
    height: 285px;
  }
}

@media screen and (max-width: 668px) {
  .related-projects-item {
    width: 600px;
    height: 600px;
  }

  .text-info h3{
    font-size: 35px;
  }
}

@media screen and (max-width: 640px) {
  .img {
    width: 300px;
    height: 173px;
  }

  .related-projects-inside, .project-info {
    width: 300px;
  }

  .related-projects-item {
    width: 300px;
    height: 300px;
  }

  .next-previous, .back-to-top {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .img {
    width: 272px;
    height: 157px;
  }

  .related-projects-inside, .project-info {
    width: 272px;
  }

  .related-projects-item {
    width: 272px;
    height: 272px;
  }
}
